<!DOCTYPE project>
<Context>
	<Resource name="jdbc/MysqlDB"
				auth="Container"
				driverClassName="com.mysql.jdbc.Driver"
				type="javax.sql.DataSource"
				url="jdbc:mysql://localhost:3306/board_test"
				username="root"
				password="dkfl13"
				maxActive="500"
				maxIdle="100"
	/>
</Context>